    <navigation></navigation>
        <!--main flex slider start-->
        <section id="main-slider-bg">
            <div class="slider-overlay">
                <div class="slider-main">
                    <div class="container text-center">
                        <ul class="slides">
                            <li>
                                <h1 class="slider-heading">Ben atterrato sulla piattaforma</h1>
                                <p style="font-size:19px;" class="slider-desc">Qui puoi richiedere un tetto se è un'emergenza, o proporlo se sei di buon cuore.</p>
                            </li>
                            <li>
                                <h1 class="slider-heading">Guarda la situazione sulla mappa</h1>
                                <p style="font-size:18px;" class="slider-desc">Inizia subito andando a controllare sulla mappa chi sta richiedendo un tetto, e chi invece lo sta proponendo.</p>
                                <a href="/cerca" class="btn-danger btn btn-lg">Vai alla mappa</a>
                            </li>
                        </ul>
                    </div> <!-- /container -->
                </div><!--slider main-->
            </div><!--slider overlay-->
        </section>
        <!--main flex slider end-->
        <!--services-->
        <section id="services-sec" class="padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center margin-btm40">
                        <h1>Ti aiutiamo a trovare un posto letto </h1>
                        <h2 class="subtitle">Direttamente li', nelle zone vicino a dove ti trovi.</h2>
                    </div>
                    <div class="col-md-3 margin-btm20">
                        <div class="services-box wow animated fadeInLeft" data-wow-delay="0.2s">
                            <i class="ion-compose"></i>
                            <h3>Registrati</h3>
                            <p>
                                L'iscrizione avviene in un unico passo, ti vengono richiesti pochissimi dati e sei dentro in pochi minuti.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 margin-btm20">
                        <div class="services-box wow animated fadeInLeft" data-wow-delay="0.4s">
                            <i class="ion-social-twitter-outline"></i>
                            <h3>Richiedi un tetto</h3>
                            <p>
                                Compila il form per richiede un tetto. Ti saranno richiesti la tua posizione e il numero di posti letto.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 margin-btm20">
                        <div class="services-box wow animated fadeInLeft" data-wow-delay="0.6s">
                            <i class="ion-map"></i>
                            
                            <h3>Appari sulla mappa</h3>
                            <p>
                                Non appena compili la il form sei già sulla mappa. Qualcuno di buon cuore ti contattera'.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 margin-btm20">
                        <div class="services-box wow animated fadeInLeft" data-wow-delay="0.8s">
                            <i class="ion-home"></i>
                            <h3>Dormi sotto un tetto</h3>
                            <p>
                                Adesso hai un riparo. Un buon punto di partenza per i tuoi prossimi obiettivi. Datti da fare, e nel frattempo sii paziente e rispettoso degli altri. 
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--container end-->
        </section>
        <!--services end-->
        <section id="about-colored" class="padding-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 margin-btm20 text-center wow animated bounceIn">
                        <h1>La nostra mission</h1>
                        <h2 class="subtitle"><i class="ion-ios7-people-outline"></i></h2>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 text-center margin-btm20">
                        <p>
                            Aiutiamo le persone, in situazioni di emergenza, a connettersi gli uni con gli altri per permettergli di trovare un ambiente confortevole sotto un tetto.
                        </p>
                    </div>
                </div>
            </div><!--container-->
        </section><!--about Colored-->
        <!-- Scripts -->
        <script src="js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="js/jquery.flexslider-min.js" type="text/javascript"></script>
        <script src="js/jquery.easing.1.3.min.js" type="text/javascript"></script>
        <script src="js/jquery.mixitup.min.js" type="text/javascript"></script>
        <script src="js/wow.min.js" type="text/javascript"></script>
        <script src="js/app.js" type="text/javascript"></script>
        