    <navigation></navigation>
        <!-- Main Section -->
            <section id="main">
                <div class="breadcrumb-wrapper">
                    <div class="pattern-overlay">
                        <section id="page-tree">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <h1>Registrati</h1>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <ol class="breadcrumb pull-right hidden-xs">
                                            <li><a href="/home"><i class="ion-home"></i> Home</a></li>
                                            
                                            <li class="active"><a>Registrati</a></li>
                                        </ol>
                                    </div>
                                </div><!--row-->
                            </div><!--container-->
                        </section><!--page-tree-->
                    </div>
                </div>
                <div class="content" style="padding:40px;">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <form ng-submit="vm.onSubmit()">
                                <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
                                    <div class="form-group">
                                        <label>Sei sicuro di voler eliminare il tuo account?<label>
                                    </div>
                                    <button type="submit" class="btn btn-default">Elimina</button>
                            </form>
                          </div>
                        </div>
                    </div>
                </div>
            </section>
          <!-- /Main Section -->