  <navigation></navigation>
        <!-- Main Section -->
            <section id="main">
                <div class="breadcrumb-wrapper">
                    <div class="pattern-overlay">
                        <section id="page-tree">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <h1>Proponi un tetto</h1>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <ol class="breadcrumb pull-right hidden-xs">
                                            <li><a href="/home"><i class="ion-home"></i> Home</a></li>
                                            
                                            <li class="active"><a>Proponi un tetto</a></li>
                                        </ol>
                                    </div>
                                </div><!--row-->
                            </div><!--container-->
                        </section><!--page-tree-->
                    </div>
                </div>         
                    <!--heightligh heading-->
        <section id="hightlight-sec" class="padding-30" style="padding-bottom:40px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Vuoi donare un posto letto?</h1>
                        <h2 style="color:white" class="subtitle">Per prima cosa controlla la mappa. Qualcuno nella tua zona potrebbe gia' averne bisogno.</h2>
                        <br>
                        <a href="/cerca" class="btn btn-success">Vai alla mappa</a>
                        <br>
                        <br>
                    </div>
                </div>
            </div><!--container-->
        </section>
        <!--heightlight heading end-->       
                <!--services-->
                    <section id="services-sec" class="padding-30" style="margin-bottom:30px;">
                        <div class="container">
                            <div class="row">
                                <div style="margin-top:100px;" class="col-md-12 text-center margin-btm20">
                                    <h1>Come proporre: la procedura</h1>
                                </div>
                                <div class="col-md-3 margin-btm20">
                                    <div class="services-box wow animated fadeInLeft" data-wow-delay="0.2s">
                                        <i class="ion-compose"></i>
                                        <h3>Registrati</h3>
                                        <p>
                                            L'iscrizione avviene in un unico passo, ti vengono richiesti pochissimi dati e sei dentro in pochi minuti.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 margin-btm20">
                                    <div class="services-box wow animated fadeInLeft" data-wow-delay="0.4s">
                                        <i class="ion-social-twitter-outline"></i>
                                        <h3>Proponi un tetto</h3>
                                        <p>
                                            Compila il form per proporre un tetto. Ti saranno richiesti la tua posizione e il numero di posti letto che rendi disponibili.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 margin-btm20">
                                    <div class="services-box wow animated fadeInLeft" data-wow-delay="0.6s">
                                        <i class="ion-map"></i>
                                        
                                        <h3>Appari sulla mappa</h3>
                                        <p>
                                            Non appena compili il form sei già sulla mappa. Qualcuno che avrà bisogno ti contattera'.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-3 margin-btm20">
                                    <div class="services-box wow animated fadeInLeft" data-wow-delay="0.8s">
                                        <i class="ion-heart"></i>
                                        <h3>Ospita</h3>
                                        <p>
                                            Grazie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </section>