<navigation></navigation>
    <section id="main">
        <div class="breadcrumb-wrapper">
            <div class="pattern-overlay">
                <section id="page-tree">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 col-sm-5">
                                <h1>Conferma di registrazione</h1>
                            </div>
                            <div class="col-md-7 col-sm-7">
                                <ol class="breadcrumb pull-right hidden-xs">
                                    <li><a href="/home"><i class="ion-home"></i> Home</a></li>
                                    
                                    <li class="active"><a>Conferma di registrazione</a></li>
                                </ol>
                            </div>
                        </div><!--row-->
                    </div><!--container-->
                </section><!--page-tree-->
            </div>
        </div>
        <br>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h2 style="text-align:center; margin-top:100px; margin-bottom:50px;" class="text-center">Hai confermato il tuo account. Adesso esegui l'accesso.</h2>
                                <div style="margin-bottom:100px;" class="back-home">
                                    <p style="text-align:center;">Confermando l'account ora sei abilitato all'accesso.<br>
                                        Puoi eseguirlo andando alla pagina di <a href="/accedi">login</a>.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
    </section>   
</div>